* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-onest), sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 60px 0;
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}