* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-onest), sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 60px 0;
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 0 32px;
  margin: 0 auto;
}

.disabled {
  cursor: not-allowed;
}

/* Page */

.page-wrapper {
  display: flex;
}

.side-nav {
  background-color: white;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 210px;
  height: 100vh;
  padding: 20px 12px;
  border-right: 1px solid #f1f3f4;
  transition: 0.3s;
}

.nav-open .side-nav {
  transform: translateX(0);
}

.side-nav__overlay {
  background-color: #363636;
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 9;
  opacity: 0;
  transition: 0.3s;
  cursor: default;
  pointer-events: auto;
}

.nav-open .side-nav__overlay {
  visibility: visible;
  opacity: 0.6;
}

.side-nav__logo {
  width: 132px;
  height: auto;
  padding-bottom: 16px;
  padding-left: 8px;
}

.side-nav__links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.side-nav__links__title {
  padding-top: 16px;
  padding-left: 8px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.side-nav__link {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  font-weight: 300;
  transition: 0.2s;

  &:hover {
    color: #3d0380;
    background-color: #f7f0ff;
  }
}

.side-nav__link__icon {
  width: 14px;
}

/* Page content */

.page-content {
  flex-grow: 1;
  margin-left: 210px;
}

/* Search */

.search {
  border-bottom: 1px solid #f1f3f4;
}

.search__row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.searchbar {
  background-color: #f1f3f4;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 400px;
  margin: 16px 0;
  border-radius: 100px;
  padding: 8px 16px;

  &:focus-within {
    outline: 2px solid black;
  }
}

.searchbar__icon {
  width: 16px;
}

.searchbar__input {
  width: 100%;
  outline: none;
  border: none;
}

.open-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .side-nav {
    transform: translateX(-100%);
  }

  .open-nav {
    display: block;
  }

  .page-content {
    margin-left: 0;
  }
}
