.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrapper {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 8px;
  padding: 32px;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal__title {
  font-size: 32px;
  margin-bottom: 16px;
}

.modal__login-option {
  display: flex;
  width: 100%;
  margin-top: 16px;
  padding: 12px 20px;
  border: 2px solid #ebebeb;
  border-radius: 12px;
  font-size: 14px;
  transition: 0.2s;

  &:hover {
    transform: translateY(-2px);
  }
}

.modal__login-option__icon {
  width: 16px;
  height: auto;
  margin-right: 8px;
}

.modal__break {
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
  margin: 24px 0;
  font-size: 12px;
}

.modal__break__line {
  width: 100%;
  border-bottom: 2px solid #ebebeb;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
}

.modal__form__label {
  color: #667085;
}

.modal__form__input {
  margin: 16px 0;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 12px;
}

.modal__form__btn {
  color: #4f46e5;
  align-self: flex-end;
  font-size: 12px;
}

.modal__form__submit {
  background-color: #320580;
  color: #fff;
  margin: 24px 0;
  border-radius: 40px;
  padding: 12px 0;
  font-weight: 500;
}

.modal__txt {
  font-size: 12px;
}

.modal__txt__btn {
  color: #4f46e5;
  margin-left: 4px;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .modal__wrapper {
    width: 100%;
    height: 100%;
  }
}
