/* Movies section */

.movies {
  padding-top: 40px;

  &:last-of-type {
    padding-bottom: 80px;
  }
}

.movies__title {
  font-size: 20px;
  margin-bottom: 4px;
}

.movies__subtext {
  margin-bottom: 16px;
  font-size: 12px;
  opacity: 0.6;
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
}
